@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;

  background:
    linear-gradient(
      180deg,
      #b49d35 0%,
      #9f8b2d 100%
    );

  color:#101828;

  min-height:100vh;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

img{
  max-width:100%;
  display:block;
}

button,
input,
textarea,
select{
  font-family:'Inter',sans-serif;
}